@model ZeroHunger.DTO.Collect_RequestDTO

@{
    ViewBag.Title = "Admin";
    ViewBag.Name = Session["A_name"];
}

<center>

    <h2>@ViewBag.Name</h2>
    <button id="RequestShow">Show Request</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Scripts/showRequest.js"></script>

    <div id="Show" style="display:none">
        <p>Something will be done here</p>
    </div>

</center>
