@model ZeroHunger.DTO.Collect_RequestDTO

@{
    ViewBag.Title = "Decline";
}

<h1>Are you sure you want to Reject</h1>
<form method="post">
    <input type="submit" value="Yes" class="btn btn-outline-success" />
    <input type="submit" value="No" class="btn btn-outline-danger" />
</form>

