@model Login.Models.login
@{

    ViewBag.Title = "Login";
    Layout = null;
    string customCssUrl = Url.Content("~/Content/login.css");

}
<link href="@customCssUrl" rel="stylesheet" type="text/css" />
<p class="text-danger">
    @Html.ValidationSummary()
</p>
<body>
    <div class="container">
        <div class="header">
            <h1>Login</h1>
        </div>

        <div class="login-form">
            <form method="post">

                <div class="U_name">
                    <input type="text" class="text-left" value=@Model.Uname name="Uname" placeholder="Username" /><br />
                    
                </div>
                <div class="password">
                    <input type="password" class="text-left" value=@Model.Pass name="Pass" placeholder="Password" /><br />
                    
                </div>
                <div class="submit">
                    <input type="submit" class="btn btn-default" name="login" value="Login" />
                </div>

            </form>
        </div>
    </div>
</body>



