@model ZeroHunger.DTO.ResturantDTO

@{
    ViewBag.Title = "Resturant";
    ViewBag.name = Session["user"];
}

<center>


    <h2>@ViewBag.name</h2>

    <button id="RequestPickup">Request Pickup</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Scripts/requestpickup.js"></script>

    <div id="pickup" style="display:none">
        <form method="post",action=@Url.Action("Resturant", "Resturant")>
            <input type="hidden" name="restid" value="@ViewBag.name" /> <!-- Assuming Restid corresponds to the restaurant's ID -->
            <input type="text" name="PreserveTime" placeholder="Preserve time" class="form-control" />
            <input type="text" name="Location" placeholder="Address" class="form-control" />
            <input type="submit" value="Submit" class="btn btn-outline-success" />
        </form>
    </div>

</center>

